{% extends "layout.html" %}
{% block content %}
{% block javascripts %}

{% endblock %}

<section class="main">
    <div class="container"> 
      
      <h1 class="display-4 text-center text-danger mt-5">Connexion</h1>
    
  

<div class="lock">
    <form  action="admin" method="post">
      
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
           
          </div>
          
          <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Mot de passe" name="mot_de_passe" >
        </div>
  
      </div>
    </form>
  

<h1 class="display-4 text-center text-danger mt-5">Modifier votre mot de passe</h1>
    
<form action="changepost" method="post">
    <div>
        <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Mot de passe actuel" name="old" >
    </div>
    <br>
    <div>
        <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Nouveau mot de passe" name="new" >
    </div>
    <br>
    <div>
    <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Confirmer mot de passe" name="new2" >
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Valider</button>  
    
</form>
</section>
{% endblock %}