{% extends "layout.html" %}
{% block content %}
{% block javascripts %}

{% endblock %}

<section class="main">
    <div class="container"> 
      
      <h1 class="display-4 text-center text-danger mt-5">Historique de la consommation</h1>
      <p class="text-muted mb-5 text-center">Il y a beaucoup de variation entre les differents jours de la semaine.</p>
  

      <div class="text-center">
        <button type="button" class="btn btn-danger" onclick="afficheDiv('LTP')">Vue par Heures</button>
        <button type="button" class="btn btn-danger" onclick="afficheDiv('LTS1')">Vue par Jours</button>
        <button type="button" class="btn btn-danger" onclick="afficheDiv('LTS2')">Vue par Mois</button>
      </div>



</select></section>
  
<div id="LTP" class="mesDiv" style="display:none">
    <div id="graphique3" style="width: 100%; height: 400px;" target="{{ val }}"></div>
</div>

<div id="LTS1" class="mesDiv" style="display:none">
    <div id="graphiqueAllj" style="width: 100%; height: 400px;" target="{{ val }}"></div>
</div>

<div id="LTS2" class="mesDiv" style="display:none">
    <div id="graphiqueAllm" style="width: 100%; height: 400px;" target="{{ val }}"></div>
</div>


{% endblock %}